@import "tailwindcss";

:root {
  --background: #FFFCF9;
  --foreground: #1C1B1B;
  
  --primary-brand: #742709;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-brand-primary: var(--primary-brand);
  
  
  --font-serif: var(--font-playfair), serif;
  --font-sans: var(--font-plus-jakarta), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFCF9;
    --foreground: #F5F3F0;
    --primary-brand: #E49B7A; 
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.hero-title-accent {
  font-family: var(--font-serif);
  color: var(--primary-brand);
}